@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply font-lato;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  :root {
    --background: 131 58% 96%;
    --foreground: 131 5% 10%;
    --card: 131 50% 96%;
    --card-foreground: 131 5% 15%;
    --popover: 131 58% 96%;
    --popover-foreground: 131 95% 10%;
    --primary: 131 44% 45%;
    --primary-foreground: 0 0% 100%;
    --secondary: 131 30% 90%;
    --secondary-foreground: 0 0% 0%;
    --muted: 93 30% 95%;
    --muted-foreground: 131 5% 40%;
    --accent: 93 30% 90%;
    --accent-foreground: 131 5% 15%;
    --destructive: 0 58% 50%;
    --destructive-foreground: 131 5% 96%;
    --border: 131 30% 82%;
    --input: 131 30% 50%;
    --ring: 131 44% 45%;
    --radius: 1rem;
  }
  .dark {
    --background: 131 50% 10%;
    --foreground: 131 5% 96%;
    --card: 131 50% 10%;
    --card-foreground: 131 5% 96%;
    --popover: 131 50% 5%;
    --popover-foreground: 131 5% 96%;
    --primary: 131 44% 45%;
    --primary-foreground: 0 0% 100%;
    --secondary: 131 30% 20%;
    --secondary-foreground: 0 0% 100%;
    --muted: 93 30% 25%;
    --muted-foreground: 131 5% 65%;
    --accent: 93 30% 25%;
    --accent-foreground: 131 5% 95%;
    --destructive: 0 58% 50%;
    --destructive-foreground: 131 5% 96%;
    --border: 131 30% 50%;
    --input: 131 30% 50%;
    --ring: 131 44% 45%;
    --radius: 1rem;
  }
}
